<ion-header>
  <ion-toolbar mode="ios" class="navGradient">
    <ion-buttons slot="start">
      <ion-menu-button swipeEnabled="true" class="my-custom-menu" id='content'></ion-menu-button>
    </ion-buttons>
    <ion-title class="titleText">About Anguilla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="imgAnguilla" src="assets/imgs/anguilla.jpg">
  <div class="textArea">
    <p class="discription">Situated at 63° 10’W, 18° 15’ N, directly north of St. Martin, this little island takes its name from the Spanish
        word anguila, meaning eel, because of its similar shape. It was formerly known as Snake Island. At 35 mi², or 91
        km², it is long and very flat, with a high point of 200 ft (61 m) at Crocus Hill. Vegetation is sparse due to the
        low rainfall. Anguilla has over 30 excellent white sand beaches, spectacular and ecologically significant coral
        reefs, as also a well-earned reputation as a quiet and peaceful getaway. There are many surrounding uninhabited
        islands: Anguillita, Dog Island, Prickly Pear Cays, Sandy Island, Scrub Island, Scilly Cay, Seal Island and Sombrero
        (also known as Hat Island).
    <br>
        Fun things to do: diving, snorkelling, cruising, fishing and also visit places of historical interest. A nice
        selection of up-market art galleries might entice you, visually, as well as those of you who like to take home
        something precious!
    </p>
  </div>

</ion-content>