.imgAnguilla{
    border-radius: 20px;
    width: 80%;
    height: auto;
    margin: 26px auto;
    display: block;
}
.discription{
    padding: 0 15px;
    text-align: justify;
}
.textArea{
    overflow: scroll;
}