<ion-content class="background">
  <ion-menu id="content" swipeEnabled="false" ></ion-menu>
  <ion-grid align-items-center justify-content-center>
    <ion-row style="align-items: center">
      <img class="logo-img mr-t30" src="/assets/imgs/logo.png">
    </ion-row>
    <ion-row justify-content-center>
      <ion-col style="height: 100%" col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3>
        <ion-card id="login-card" style="vertical-align: middle">
          <form align-items-center class="input login-input" [formGroup]="loginForm" >
            <ion-list class="formPadding">
              <ion-col col-md-12>
                <img class="traveler_logo" src="/assets/imgs/traveler.svg" alt="">
              </ion-col>
              <h4 text-center>Login</h4>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input style="padding: 0px;" type="text"  formControlName="user_email" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input style="padding: 0px;" type="password" formControlName="user_password"></ion-input>
              </ion-item>
            </ion-list>
            <ion-button class="login-btn full-width mr-t20" expand="full" [disabled]="!loginForm.valid" (click)="loginUser(loginForm.value)">Login</ion-button>
            <ion-row class="pd-b0">
              <ion-col col-md-6 class="rem-text mr-t20">
                <div style="display: flex; align-items: center;">
                  <ion-checkbox checked="false" formControlName="remember" (ionChange)="isChecked($event)" class="chbx mr-r10">Remember</ion-checkbox>Remember
                </div>
              </ion-col>
              <ion-col col-md-6 class="rem-text mr-t20">
                <a class="pass-text" (click)="forgetPassword()"><u>Forgot Password</u></a>
              </ion-col>
            </ion-row>
          </form>
        </ion-card>

        <ion-grid>
          <ion-row>
            <ion-col align-items-center>
              <ion-card-content>
                <ion-button expand="full" class="white-btn full-width" [routerLink]="['/register']">Sign Up</ion-button>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>