<ion-header>
  <ion-toolbar mode="ios" class="navGradient">
    <ion-buttons slot="start">
      <ion-menu-button swipeEnabled="true" class="my-custom-menu" id='content'></ion-menu-button>
    </ion-buttons>
    <ion-title class="titleText">My Places</ion-title>
  </ion-toolbar>
</ion-header>
<div class="map mr-t40" id="map1"></div>
<div class="drawer map-scroll-info">
  <ion-list *ngFor="let cat of savedPlaces">
    <ion-list-header><b>{{cat.category_name}}</b></ion-list-header>
    <ion-item class="mr-b20" lines="none" *ngFor="let place of cat.values">
      <div class="details-block" (click)="placeDetails(place)">
        <div class="palce-img-wrap">
          <div class="palce-img">
              <img class="imgCss" [src]="place.gallery[0]">
          </div>
        </div>
        <div>
          <div class="details-text">
            <h5>{{place.title}}</h5>
            <p>{{place.content}}</p>
          </div>
          <div class="location-text">
            <div class="star">
              <ion-icon *ngIf="place.star_rating>=1" class="starColor" name="star"></ion-icon>
              <ion-icon *ngIf="place.star_rating>=2" class="starColor" name="star"></ion-icon>
              <ion-icon *ngIf="place.star_rating>=3" class="starColor" name="star"></ion-icon>
              <ion-icon *ngIf="place.star_rating>=4" class="starColor" name="star"></ion-icon>
              <ion-icon *ngIf="place.star_rating>=5" class="starColor" name="star"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</div>